.ProductList {
  display: flex;
  width: 90%;
  margin: 40px auto;
  flex-wrap: wrap;
}

.ProductList .Product {
  border: 4px solid green;
  margin: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  background-color: rgb(198, 236, 192);
}

.ProductList .Product h3 {
  margin: 0;
  padding: 10px;
  background-color: rgb(155, 204, 211);
  color: rgb(41, 171, 135);
  text-align: center;
  font-size: 2rem;
  line-height: 50px;
  border: rgb(64, 131, 112);
  outline: rgb(64, 131, 112);
}

.ProductList .Product h3 {
  text-align: center;
  font-size: 1.5rem;
}

.ProductList .Product .buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.ProductList .Product .buttons button {
  padding: 6px 12px;
  outline: rgb(117, 164, 172);
  font-weight: 100;
  margin-right: 6px;
  font-size: 1.5rem;
  border: rgb(44, 211, 155);
  color: rgb(150, 243, 220);
  background-color: rgb(99, 183, 108);
}

.ProductList .Product .buttons button:hover {
  background-color: rgb(117, 211, 187);
  color: rgb(19, 167, 19);
}
